[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playsound = "==1.2.2"
qrcode = {extras = ["pil"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
